*{
    box-sizing: border-box;
    margin: 0;
    /* border:1px solid #111; */
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
main{
    width: 35vw;
    /* background-color: #f5f5f570; */
    
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    text-decoration: underline;
    color: #ffffff;
    font-size: 44px;
}
.inputBar{
    width: 100%;
    height: 7vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20vh;
    overflow: hidden;

}
input{
    width: 70%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: large;
    
}
.copy{
    border-left: 1px solid #7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: larger;
    font-weight: 600;
    height: 100%;
}
button{
    /* padding: 10px; */
    /* font-size: larger; */
    /* font-weight: 600; */
    background: url('https://static-00.iconduck.com/assets.00/retry-icon-2048x2048-1d2zi9hg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 5%;
    height: 50%;
    margin-left: 1vw;

}